*{
  margin: 0;
  padding: 0;
}

@media (min-width: 920px) {
  .container-1{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-block-start: 40px;
  }

  .container-2{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-block-start: 40px;
    padding-inline-end: 350px;
    padding-inline-start: 350px;
    grid-auto-rows: minmax(70px, auto);
  }

  .image-2{
    padding-block-start: 70px;
  }

  .image-5{
    padding-block-start: 70px;
  }

  .title-2{
    width: 409px;
    margin-inline-end: 295px;
  }

  .title{
    font-size: 9px;
    margin-inline-start: 310px;
  }

  .role-2{
    padding-inline-start: 70px;
  }

  .role-5{
      padding-inline-start: 70px;
  }

}

@media (max-width: 919px) {

  .container-2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 20px 15px;
  }

  .image-2{
    padding-block-start: 70px;
  }

  .image-4{
    padding-block-start: 70px;
  }

  .image-6{
    padding-block-start: 70px;
  }

  .container-1{
    margin: 20px 15px;
  }

  .title{
    margin-block-end: 20px;
  }

  .role-2{
    padding-inline-start: 70px;
  }

  .role-4{
    padding-inline-start: 70px;
  }

  .role-6{
    padding-inline-start: 70px;
  }

}


img{
  width: 100%;
  height: auto;
}

body{
  color: #000000;
}

.container-2{
  font-family: 'Poppins', sans-serif;
}

.container-2 h1{
  font-size: 12px;
  font-weight: 600;
}

.title{
  font-family: 'PT Serif', serif;
}

.title-2{
  font-family: 'Poppins', sans-serif;
}

.title-2 h1{
  font-size: 18px;
  font-weight: 900;
}

.title-2 p{
  font-size: 12px;
}

.role{
   writing-mode: vertical-lr;
   font-size: 10px;
}

.footer{
  font-size: 12px;
  color: #A9A9A9;
  font-family: 'Montserrat', sans-serif;
  margin-block-start: 70px;
  text-align: center;
}
